/* ---------------------------------------
    SPINNER
----------------------------------------- */
// @import "utilities/spinner.less";
/* ---------------------------------------
    CUSTOM INPUT
----------------------------------------- */
// @import "utilities/inputs.less";
/* ---------------------------------------
    CUSTOM CHECKBOX & RADIO
----------------------------------------- */
// @import "utilities/checkbox-radio.less";

/* ---------------------------------------
    SELECT2
----------------------------------------- */
// @import "utilities/select2.less";
/* ---------------------------------------
    PAGINATION
----------------------------------------- */
// @import "utilities/pagination.less";

/* ---------------------------------------
    BODY
----------------------------------------- */
body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  line-height: 1.5em;
  color: #333;
  text-align: center;
}

#fullpage {
    .section-1{
        background:url("../images/bg1.jpg") center top no-repeat; 
        background-size: cover;
        
        .scroll-icon {
            position: absolute;
            width: 100%;
            bottom: 0;
            span {
                display: block;
                font-size: 16px;
                color: rgba(0, 0, 0, 0.75);
                cursor: pointer;
                i {
                    font-size: 36px;
                }
            }
        }
    }
    
    .section-2 {
        .fp-tableCell {
            vertical-align: top;
        }
        .nav-wrapper {
            background-color: #FFF;
            .brand-logo {
                color: black;
            }

            .left-content {
                position: absolute;
                left: 30px;
                .menu-icon {
                    color: black;
                }
                .title {
                    color: black;
                    position: absolute;
                    top: 0;
                    left: 40px;
                }
            }

            .right-content {
                position: absolute;
                right: 30px;
                a {
                    color: black;
                    padding-left: 10px;
                }
            }
        }
    }
}
