@import url("./assets/fonts/iconfont/material-icons.css");
@import url("./assets/libs/materialize/css/materialize.css");

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.main-content {
	width: 100%;
    margin-top: 64px;
}
